
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #fff;
  color: #212529;
  letter-spacing: 0;
  color: #333;
}
.white-text{
  color: #fff !important;
}
.gray-text{
  color: #656C73 !important;
}
.blue-text{
  color: #095EAB !important;
}
.semibold-text{
  font-weight: 600 !important;
}
.lightgray-text{
  color: #828282;
}
.regular-text{
  font-weight: 500 !important;
}
.text-right{
  text-align: right !important;
}
.btn {
    padding: 6px 18px;
    transition: all 0.3s ease 0s;
    font-size: 15px;
}
.btn:hover{
   box-shadow: 0px 4px 6px rgb(185 185 185);
  transform: translateY(-1px);
}
button:focus {
    outline: none;
}
.btn {
    padding: 6px 11px;
    font-size: 14px;
}
.btn-default {
    background-color: #129984;
    border: 1px solid #129984;
    color: #fff;
}
.btn-default:hover {
    color: #129984;
    border: 1px solid #129984;
    background-color: #fff;
}
.btn-md{
  padding: 7px 15px;
  font-size: 14px;
}
p.lead {
  font-size: 18px;
  line-height: 1.4em;
}
h1{
  font-size: 40px;
  font-weight: 400;
}
h3 {
    font-size: 19px;
    color: #343E44;
    font-weight: 600;
}
label{
  color: #333;
  font-weight: 600;
}
.badge.bg-success{
  background-color: rgba(15,234,188,0.21) !important;
  color: #00A697;
}
.badge.bg-success {
    background-color: rgba(15,234,188,0.21) !important;
    color: #00A697;
}
.bg-warning {
    background-color: rgba(243,202,62,0.29) !important;
    color: #D2A300;
}
.btn-banned{
  background-color: rgba(130,130,130,0.23);
}
.form-control::placeholder {
  color: #000;
  opacity: 1; 
}
.form-control:-ms-input-placeholder { 
  color: #000;
}
.form-control::-ms-input-placeholder { 
  color: #000;
}
.form-control:focus {
    box-shadow: none;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 0 3px 3px #e5e5e5;
    padding: 7px 0;
    background: #fff;
}
footer p{
  font-size: 13px;
}
.btn-primary {
    background-color: #ff586b;
    border-radius: 7px;
    color: #fff;
    border-color: #ff586b;
}
.btn-primary:hover {
    background-color: #e74a5c;
    border-color: #ff586b;
}
.payment-card .btn i {
    font-size: 13px;
} 
.bg-white{
  background-color: #fff;
}
.large-text{
  font-size: 25px;
}
.success-text{
  color: #129984;
}
.btn-secondary:hover{
  color: #6c757d;
  background-color: #fff;
}
/*========================main css==================*/

.top-menu .dropdown-menu {
    right: 0;
    left: auto;
    margin-top: 10px;
    width: 350px;
}
.navbar-toggler-icon {
    width: 26px;
    height: 3px;
    background: #196aa9;
    display: block;
    margin-bottom: 6px;
}
.breadcrunbs {
    background-color: #fff;
    padding: 12px 25px;
}
.main {
    display: table;
    width: 100%;
    height: 100vh;
}
.page-wrapper {
    background: #f3f6f8;
}
.left-side{
 display: table-cell;
 width: 36%;
 vertical-align: middle;
 position: relative;
 background:url("../images/bg.jpg");
 z-index: 99;
}
.left-side:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, #14dbc0 0%,rgb(45 183 169 / 95%) 100%);
    background: -webkit-linear-gradient(top, #14dbc0 0%,rgb(45 183 169 / 95%) 100%);
    background: linear-gradient(to bottom, #5ae4a7 0%,rgb(45 183 169 / 95%) 100%);
    opacity: 0.5;
    z-index: -1;
}
.right-side {
  width: 74%;
  vertical-align: middle;
  padding: 50px 150px;
  height: 100%;
  display: table-cell;
}
.qrmenu-img{
  width: 400px;
}
.social-media-list li a{
  transition: all 0.3s ease 0s;
}
.social-media-list li a:hover img{
  box-shadow: 0px 4px 6px rgb(185 185 185);
  transform: translateY(-1px);
}
.form-control {
    background-color: #f9f9f9;
    border-color: #eaeeed;
    padding: 9px 16px;
    height: auto;
    font-size: 14px;
    box-shadow: 0 0 2px 1px #d5d5d5;
}
.logo-icon {
    width: 130px;
}
.simplebar-mask{
  background: #014a8c; 
  background: -moz-linear-gradient(top,  #1bbf9b  0%, #37d3b1 63%, #37d3b1 100%);
  background: -webkit-linear-gradient(top,  #1bbf9b  0%,#37d3b1 63%,#37d3b1 100%); 
  background: linear-gradient(to bottom,  #1bbf9b  0%,#37d3b1 63%,#37d3b1 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#014a8c', endColorstr='#55aeff',GradientType=0 );
}
.sidebar-wrapper .metismenu a .menu-title {
    color: #fff;
    font-weight: 500;
}
.sidebar-wrapper .metismenu .mm-active>a, 
.sidebar-wrapper .metismenu a:active,
 .sidebar-wrapper .metismenu a:focus, 
 .sidebar-wrapper .metismenu a:hover {
    background: rgb(15 185 147);
}
@media screen and (min-width: 1025px)
{
  .wrapper .sidebar-wrapper .sidebar-header .menubar-icon {
    display: none;
}
.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .menubar-icon {
    display: block;
}
}
.toggle-icon {
    color: #37d3b1;
}
.user-name-box p {
    background: #ff586b;
    padding: 0;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    line-height: 2.5em;
}
.page-footer{
  width: calc(100% - 250px)
}
/*=====================Registration================*/
.signup .right-side {
    padding: 50px 150px;
}

/*====================signin onboard===============*/
.signin-onboard .right-side {
    padding: 0 0 50px;
    vertical-align: top;
}
#smartwizard .nav {
    justify-content: space-between;
}
.form-bottom{
  text-align: right;
  position: fixed;
  bottom: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 0 2px 2px #d5d5d5;
  width: calc(100% - 36%);
  padding: 6px 10px;
}
.sw>.tab-content {
    height: 100% !important;
}
.sw-theme-default {
    border: 0 !important;
}
.heading {
    background: #f9f9f9;
    color: #129984 !important;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 2px 2px #d5d5d5;
    font-weight: 700;
}
.wizard .wizard-nav.dots .wizard-step.active .dot {
    background-color: #42c7ac;
}
.wizard .wizard-nav.dots .wizard-step span {
    cursor: pointer;
    font-weight: 500;
}
.wizard .wizard-nav.dots .wizard-step .dot {
    background: #51d9a9;
}
.wizard {
    margin-top: 40px;
}
.wizard .wizard-buttons .wizard-btn {
  margin: 0;
  margin-left: 10px;
  background-color: #fb2a71;
  color: #fff;
}



.wizard-content-left {
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.45);
  background-image: url("https://i.ibb.co/X292hJF/form-wizard-bg-2.jpg");
  background-position: center center;
  background-size: cover;
  height: 100vh;
  padding: 30px;
}
.wizard-content-left h1 {
  color: #ffffff;
  font-size: 38px;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;
}

.form-wizard {
  color: #888888;
  padding: 30px;
}
.form-wizard .wizard-form-radio {
  display: inline-block;
  margin-left: 5px;
  position: relative;
}
.form-wizard .wizard-form-radio input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #dddddd;
  height: 25px;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.form-wizard .wizard-form-radio input[type="radio"]:focus {
  outline: 0;
}
.form-wizard .wizard-form-radio input[type="radio"]:checked {
  background-color: #fb1647;
}
.form-wizard .wizard-form-radio input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  left: 1px;
  right: 0;
  margin: 0 auto;
  top: 8px;
}
.form-wizard .wizard-form-radio input[type="radio"]:checked::after {
  content: "";
  display: inline-block;
  webkit-animation: click-radio-wave 0.65s;
  -moz-animation: click-radio-wave 0.65s;
  animation: click-radio-wave 0.65s;
  background: #000000;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
  border-radius: 50%;
}
.form-wizard .wizard-form-radio input[type="radio"] ~ label {
  padding-left: 10px;
  cursor: pointer;
}
.form-wizard .form-wizard-header {
  text-align: center;
}
.form-wizard .form-wizard-next-btn,
.form-wizard .form-wizard-previous-btn,
.form-wizard .form-wizard-submit {
  background-color: #d65470;
  color: #ffffff;
  display: inline-block;
  min-width: 100px;
  min-width: 80px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #d65470;
}
.form-wizard .form-wizard-next-btn:hover,
.form-wizard .form-wizard-next-btn:focus,
.form-wizard .form-wizard-previous-btn:hover,
.form-wizard .form-wizard-previous-btn:focus,
.form-wizard .form-wizard-submit:hover,
.form-wizard .form-wizard-submit:focus {
  color: #d65470;
  background-color: #fff;
  opacity: 0.9;
  text-decoration: none;
}
.form-wizard .wizard-fieldset {
  display: none;
}
.form-wizard .wizard-fieldset.show {
  display: block;
}
.form-wizard .wizard-form-error {
  display: none;
  background-color: #d70b0b;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.form-wizard .form-wizard-previous-btn {
  background-color: #d65470;
}
.form-wizard .form-control {
    font-weight: 300;
    height: auto !important;
    color: #000000 !important;
    background-color: #f1f1f1;
    border: none;
    font-weight: 400;
}
.form-wizard .form-control:focus {
  box-shadow: none;
}
.form-wizard .form-group {
  position: relative;
  margin: 5px 0;
}
.form-wizard .wizard-form-text-label {
  position: absolute;
  left: 10px;
  top: 16px;
  transition: 0.2s linear all;
}
.form-wizard .focus-input .wizard-form-text-label {
  color: #d65470;
  top: -18px;
  transition: 0.2s linear all;
  font-size: 12px;
}
.form-wizard .form-wizard-steps {
  margin: 30px 0;
}
.form-wizard .form-wizard-steps li {
  width: 20%;
  float: left;
  position: relative;
}
.form-wizard .form-wizard-steps li::after {
  background-color: #f3f3f3;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}
.form-wizard .form-wizard-steps li span {
  background-color: #dddddd;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  width: 40px;
  z-index: 1;
}
.form-wizard .form-wizard-steps li:last-child::after {
  width: 50%;
}
.form-wizard .form-wizard-steps li.active span, .form-wizard .form-wizard-steps li.activated span {
  background-color: #d65470;
  color: #ffffff;
}
.form-wizard .form-wizard-steps li.active::after, .form-wizard .form-wizard-steps li.activated::after {
  background-color: #d65470;
  left: 50%;
  width: 50%;
  border-color: #d65470;
}
.form-wizard .form-wizard-steps li.activated::after {
  width: 100%;
  border-color: #d65470;
}
.form-wizard .form-wizard-steps li:last-child::after {
  left: 0;
}
.form-wizard .wizard-password-eye {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
@keyframes click-radio-wave {
  0% {
    width: 25px;
    height: 25px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    width: 60px;
    height: 60px;
    margin-left: -15px;
    margin-top: -15px;
    opacity: 0.0;
  }
}
@media screen and (max-width: 767px) {
  .wizard-content-left {
    height: auto;
  }
}



.img-wrapper {
  position: relative;
  margin-top: 15px;
}
.img-wrapper img {
  width: 100%;
}

.img-overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.img-overlay i {
  color: #fff;
  font-size: 3em;
}

#overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#overlay img {
  margin: 0;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 5%;
}


#nextButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
}
#nextButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #nextButton {
    font-size: 3em;
  }
}

#prevButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
}
#prevButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #prevButton {
    font-size: 3em;
  }
}

#exitButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  position: absolute;
  top: 15px;
  right: 15px;
}
#exitButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #exitButton {
    font-size: 3em;
  }
}
#image-gallery{
  max-height: 334px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.breadcrumbs {
    background-color: #fff;
    padding: 12px 25px;
}
.breadcrumbs h6{
  color: #000 !important;
}
.highcharts-title{
  display: none;
}
div#container {
    box-shadow: 0 0.3rem 0.8rem rgb(0 0 0 / 12%);
    border-radius: 10px;
}
.menu-thumbnail li {
    margin-right: 8px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #fff;
    padding: 4px;
    box-shadow: 0 0.3rem 0.8rem rgb(0 0 0 / 12%);
    border-radius: 6px;
    width: 13.5%;
}
.menu-thumbnail li span {
    font-weight: 600;
    color: #333;
    display: block;
}
/*=======================media query===================*/
@media(max-width: 1024px){
  .page-footer {
      width: 100%;
      left: 0;
  }
  .mobile-toggle-menu {
      padding-left: 15px;
  }
}
@media(max-width: 991px){
  .topbar-custom ul li a {
      color: #fff;
  }
  .profile-nav button br{
    display: none;
  }
  .left-side, .right-side,.signup .right-side {
    display: block;
    width: 100%;
    padding:50px;
    height: auto;
  }
  .logo{
    width: 130px;
  }
  .wrapper.toggled .menubar-icon{
    display: none;
  }
  .card.basic ul, .card.standard ul, .card.premium ul {
      width: 58%;
  }
  .topbar .navbar {
      padding:0px;
  }
  .navbar-collapse {
      background-color: #1969b0;
      padding: 0;
      position: absolute;
      top: 62px;
      left: 0;
      right: 0;
      width: 100%;
  }
  .navbar-collapse ul{
    padding: 20px 20px 0;
  }
  .navbar-collapse ul li {
      display: block;
      margin-bottom: 14px;
  }
  .card-right {
      padding: 80px 34px;
  }
  .user-info {
    display: none;
  }
  .user-info-box{
    padding: 0; 
    padding-left: 6px;
  }

}
@media(max-width: 767px){
  .card-right,.card-left{
    display: block;
    width: 100%;
  }
  div.dataTables_wrapper div.dataTables_length label{
    margin-bottom: 10px;
  }
  div.dataTables_wrapper div.dataTables_length,
  div.dataTables_wrapper div.dataTables_filter{
    text-align: right;
  }
}
@media (min-width: 576px)
{
  .modal-dialog {
    max-width: 600px;
}
}