html{
  scroll-padding-top:60px;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #fff;
  color: #212529;
  letter-spacing: 0;
  color: #333;
}
.page-content {
    min-height: 90vh;
}
.text-underline{
  text-decoration: underline;
}
.white-text{
  color: #fff !important;
}
.gray-text{
  color: #656C73 !important;
}
.blue-text{
  color: #095EAB !important;
}
.black-text{
  color: #333;
}
.semibold-text{
  font-weight: 600 !important;
}
.lightgray-text{
  color: #828282;
}
.regular-text{
  font-weight: 500 !important;
}
.text-right{
  text-align: right !important;
}
.btn-icon i{
  font-size: 13px;
}
.btn-icon {
    padding: 0px 6px;
    width: 29px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.white-space-nowrap{
  white-space: nowrap;
}
.btn-outline-default{
  border:1px solid #129984;
  color: #129984;
}
.btn-outline-default:hover{
  background-color: #129984;
  color: #fff;
  border:1px solid #129984;
}
.btn-outline-primary{
  border:1px solid #e52f43;
  color: #e52f43;
}
.btn-outline-primary:hover{
  background-color: #e52f43;
  color: #fff;
  border:1px solid #e52f43;
}
.btn {
    padding: 6px 18px;
    transition: all 0.3s ease 0s;
    font-size: 15px;
    border-radius: 7px;
}
.btn:hover{
   box-shadow: 0px 4px 6px rgb(185 185 185);
  transform: translateY(-1px);
}
button:focus {
    outline: none;
}
.btn {
    padding: 6px 15px;
    font-size: 17px;
}
h1{
  font-size: 40px;
  font-weight: 400;
}
h3 {
    font-size: 24px;
    color: #343E44;
    font-weight: 600;
}

.form-control::placeholder {
  color: #000;
  opacity: 1; 
}
.form-control:-ms-input-placeholder { 
  color: #000;
}
.form-control::-ms-input-placeholder { 
  color: #000;
}
.form-control:focus {
    box-shadow: 0 0 1px 1px #d5d5d5;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: none;
    padding: 7px 0;
    background: #fff;
}
footer p{
  font-size: 13px;
}
.btn-primary {
    background-color: #e52f43 !important;
    border-radius: 7px !important;
    color: #fff !important;
    border-color: #e52f43 !important;
}
.btn-primary:hover {
    background-color: #fff !important;
    border-color: #e52f43 !important;
    color: #e52f43 !important;
} 
.btn-seconadry{
  background-color: #878787;
    border: 1px solid #878787;
    color: #fff;
}
.btn-seconadry:hover{
  background-color: #fff;
    border: 1px solid #878787;
    color: #878787;
}
.btn-seconadry-border {
    color: #878787;
    border: 1px solid #878787;
}
.btn-seconadry-border:hover {
    color: #fff;
    background:#878787;
    border: 1px solid #878787;
}
.btn-default-border {
    color: #06a994;
    border: 1px solid #06a994;
}
.btn-default-border:hover {
    color: #fff;
    background:#06a994;
    border: 1px solid #06a994;
}
.bg-white{
  background-color: #fff;
}
.success-text{
  color: #129984;
}
.btn-secondary:hover{
  color: #6c757d;
  background-color: #fff;
}
.btn-edit {
    background: rgba(51,153,255,0.24);
    padding:7px 8px;
    display: flex;
    align-items: center;
}
.btn-trash {
    background: rgba(255,51,102,0.24);
    padding:7px 8px;
    display: flex;
    align-items: center;
}
.btn-sm {
    padding: 3px 10px;
    font-size: 13px;
    border-radius: 7px;
}
.breadcrumbs .btn-sm {
    padding: 5px 19px;
    font-size: 17px;
}
.btn-sm i{
  font-size: 12px;
}
.btn-md{
  padding: 4px 13px;
      font-size: 15px;
}
.btn-md i{
font-size: 14px;
}
.btn-success {
    background-color: #06a994;
    border-color: #06a994;
}
.btn-success:hover {
    background-color: #fff;
    border-color: #06a994;
    color: #06a994;
}
.btn-default {
    background-color: #129984;
    border: 1px solid #129984;
    color: #fff;
}
.btn-default:hover {
    color: #129984;
    border: 1px solid #129984;
    background-color: #fff;
}
.form-control-sm{
  padding: 5px 16px !important;
  height: auto !important;
}
/*========================main css==================*/

.top-menu .dropdown-menu {
    right: 0;
    left: auto;
    margin-top: 10px;
    width: 350px;
}
.sidebar-wrapper .metismenu ul a {
    font-size: 16px;
    color: #fff;
}
.metismenu .has-arrow:after {
    border-width: 2px 0 0 2px;
    transform: rotate(130deg) translateY(-50%);
    color: #fff;
}
.sidebar-wrapper .metismenu a .parent-icon {
    font-size: 19px;
    line-height: 1;
    color: #fff;
    margin-right: 10px;
}
.metismenu > li.mm-active > ul.mm-show >li:hover >a {
  background: #707781;
  color: #fff;
}
.metismenu .has-arrow[aria-expanded=true]:after, .metismenu .mm-active>.has-arrow:after {
    transform: rotate(222deg) translateY(-50%);
}
.navbar-toggler-icon {
    width: 26px;
    height: 3px;
    background: #196aa9;
    display: block;
    margin-bottom: 6px;
}
.breadcrunbs {
    background-color: #fff;
    padding: 12px 25px;
}
.main {
    display: table;
    width: 100%;
    height: 100vh;
}
.page-wrapper {
    background: #eaedf5;
}
.main {
    
    position: relative;
    background-size: cover;
    background-position: center center;
    padding: 15px 0 15px;
    background-attachment: fixed;
     background: -moz-linear-gradient(top,  #7effe6  0%, #00cec9 100%); 
  background: -webkit-linear-gradient(top,  #7effe6  0%,#00cec9 100%); 
  background:linear-gradient(to bottom, #7effe6  0%,#00cec9 100%);
}
.main:before{
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background: url(../images/bg.png);
  background-attachment: fixed;
  background-size: cover;
   opacity: 0.25;
}
.content{
  display: table-cell;
  vertical-align: middle;
}
.main .card {
    padding: 30px;
    border-radius: 15px;
    max-width: 600px;
    margin: 0 auto;
}
.main .card {
    padding: 30px;
    border-radius: 15px;
    max-width: 650px;
    margin: 0 auto;
}
.main .card.signup {
    max-width: 500px;
}
.social-media-list li a{
  transition: all 0.3s ease 0s;
}
.social-media-list li a:hover img{
  box-shadow: 0px 4px 6px rgb(185 185 185);
  transform: translateY(-1px);
}
.form-control {
    background-color: #fdfbfb;
    border-color: #eaeeed;
    padding: 9px 16px;
    height: auto;
    font-size: 16px;
    box-shadow: 0 0 1px 1px #d5d5d5;
}
.logo-icon {
    width: 150px;
}
.simplebar-mask {
    background: #014a8c;
    background: -moz-linear-gradient(top, #686d74 0%, #676f7a 100%);
    background: -webkit-linear-gradient(top, #686d74 0%, #676f7a 100%);
    background:linear-gradient(to top, #686d74 0%,#676f7a 100%);
}
.sidebar-wrapper .metismenu a .menu-title {
    color: #fff;
    font-weight: 500;
    margin-left: 0;
}
.metismenu > li.mm-active > ul.mm-show > li.mm-active > a {
    background-color: #1fab9d;
}
.sidebar-wrapper .metismenu ul {
    border: 0;
    background: #7c828b;
}
.sidebar-wrapper .metismenu a .menu-title i{
  margin-right: 5px;
}
.sidebar-wrapper .metismenu .mm-active>a, 
.sidebar-wrapper .metismenu a:active,
 .sidebar-wrapper .metismenu a:focus, 
 .sidebar-wrapper .metismenu a:hover {
    background: rgb(255 255 255 / 14%);
}
.metismenu > li.mm-active > ul.mm-show > li.mm-active > a {
    background-color: #707781;
    color: #fff;
}
.sidebar-wrapper .metismenu a{
  font-size: 17px;
}
@media screen and (min-width: 1025px)
{
  .wrapper .sidebar-wrapper .sidebar-header .menubar-icon {
    display: none;
}
.wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .menubar-icon {
    display: block;
}
}
.simplebar-scrollbar:before {
    background: #5b6168;
}
.sidebar-wrapper .metismenu .mm-active>a,
 .sidebar-wrapper .metismenu a:active,
  .sidebar-wrapper .metismenu a:focus,
   .sidebar-wrapper .metismenu a:hover{
  color: #fff;
}
.toggle-icon {
    color: #686e77;
}
.user-name-box p {
    background: #20c39f;
    padding: 0;
    border-radius: 10px;
    width: 34px;
    height: 34px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    line-height: 2.2em;
    font-weight: 700;
}
.page-footer {
    width: calc(100% - 250px);
    left: 250px;
}
#smartwizard .nav {
    justify-content: space-between;
}
.form-bottom{
  text-align: right;
  position: fixed;
  bottom: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 0 2px 2px #d5d5d5;
  width: 100%;
  padding: 6px 40px;
}
.sw>.tab-content {
    height: 100% !important;
}
.sw-theme-default {
    border: 0 !important;
}
.heading {
    background: #f9f9f9;
    color: #129984 !important;
    padding: 8px;
    text-align: center;
    box-shadow: 0 0 2px 2px #d5d5d5;
    font-weight: 700;
    border-radius: 4px;
    font-size: 19px;
}
.wizard .wizard-nav.dots .wizard-step.active .dot {
    background-color: #42c7ac;
}
.wizard .wizard-nav.dots .wizard-step span {
    cursor: pointer;
    font-weight: 500;
}
.wizard .wizard-nav.dots .wizard-step .dot {
    background: #51d9a9;
}
.wizard {
    margin-top: 40px;
}
.wizard .wizard-buttons .wizard-btn {
  margin: 0;
  margin-left: 10px;
  background-color: #fb2a71;
  color: #fff;
}



.wizard-content-left {
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.45);
  background-image: url("https://i.ibb.co/X292hJF/form-wizard-bg-2.jpg");
  background-position: center center;
  background-size: cover;
  height: 100vh;
  padding: 30px;
}
.wizard-content-left h1 {
  color: #ffffff;
  font-size: 38px;
  font-weight: 600;
  padding: 12px 20px;
  text-align: center;
}

.form-wizard {
  color: #888888;
  padding: 0px;
}
.form-wizard .wizard-form-radio {
  display: inline-block;
  margin-left: 5px;
  position: relative;
}
.form-wizard .wizard-form-radio input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #dddddd;
  height: 25px;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.form-wizard .wizard-form-radio input[type="radio"]:focus {
  outline: 0;
}
.form-wizard .wizard-form-radio input[type="radio"]:checked {
  background-color: #fb1647;
}
.form-wizard .wizard-form-radio input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  left: 1px;
  right: 0;
  margin: 0 auto;
  top: 8px;
}
.form-wizard .wizard-form-radio input[type="radio"]:checked::after {
  content: "";
  display: inline-block;
  webkit-animation: click-radio-wave 0.65s;
  -moz-animation: click-radio-wave 0.65s;
  animation: click-radio-wave 0.65s;
  background: #000000;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
  border-radius: 50%;
}
.form-wizard .wizard-form-radio input[type="radio"] ~ label {
  padding-left: 10px;
  cursor: pointer;
}
.form-wizard .form-wizard-header {
  text-align: center;
}
.form-wizard .form-wizard-next-btn,
.form-wizard .form-wizard-previous-btn,
.form-wizard .form-wizard-submit {
  background-color: #e52f43;
  color: #ffffff;
  display: inline-block;
  min-width: 100px;
  min-width: 80px;
  padding: 6px 15px;
  font-size: 17px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #e52f43;
}
.form-wizard .form-wizard-next-btn:hover,
.form-wizard .form-wizard-next-btn:focus,
.form-wizard .form-wizard-previous-btn:hover,
.form-wizard .form-wizard-previous-btn:focus,
.form-wizard .form-wizard-submit:hover,
.form-wizard .form-wizard-submit:focus {
  color: #e52f43;
  background-color: #fff;
  opacity: 0.9;
  text-decoration: none;
}
.form-wizard .wizard-fieldset {
  display: none;
}
.form-wizard .wizard-fieldset.show {
  display: block;
}
.form-wizard .wizard-form-error {
  display: none;
  background-color: #d70b0b;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.form-wizard .form-wizard-previous-btn {
  background-color: #e52f43;
}
.form-wizard .form-control {
    font-weight: 300;
    height: auto !important;
    color: #000000 !important;
    background-color: #fdfbfb;
    border: none;
    font-weight: 400;
    border-radius: .25rem !important;
}
.form-wizard .form-control:focus {
  box-shadow: 0 0 1px 1px #129984;
}
.select2-container--bootstrap4.select2-container--focus .select2-selection{
  box-shadow: 0 0 1px 1px #129984;
  border:0;
}
.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered{
  padding: 6px 8px;
}
.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice{
  margin-top: 0;
  margin-bottom: 2px;
}
.form-wizard .form-group {
  position: relative;
  margin: 5px 0;
}
.form-wizard .wizard-form-text-label {
  position: absolute;
  left: 10px;
  top: 16px;
  transition: 0.2s linear all;
}
.form-wizard .focus-input .wizard-form-text-label {
  color: #e52f43;
  top: -18px;
  transition: 0.2s linear all;
  font-size: 12px;
}
.form-wizard .form-wizard-steps {
  margin: 0px 0 30px;
  display: flex;
    justify-content: center;
}
.form-wizard .form-wizard-steps li {
  width: 20%;
  float: left;
  position: relative;
}
.form-wizard .form-wizard-steps li::after {
  background-color: #f3f3f3;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}
.form-wizard .form-wizard-steps li span {
    background-color: #dddddd;
    border-radius: 50%;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    position: relative;
    text-align: center;
    width: 45px;
    z-index: 1;
    font-size: 22px;
}
.form-wizard .form-wizard-steps li:last-child::after {
  width: 50%;
}
.form-wizard .form-wizard-steps li.active span, .form-wizard .form-wizard-steps li.activated span {
  background-color: #e52f43;
  color: #ffffff;
}
.form-wizard .form-wizard-steps li.active::after, .form-wizard .form-wizard-steps li.activated::after {
  background-color: #e52f43;
  left: 50%;
  width: 50%;
  border-color: #e52f43;
}
.form-wizard .form-wizard-steps li.activated::after {
  width: 100%;
  border-color: #e52f43;
}
.form-wizard .form-wizard-steps li:last-child::after {
  left: 0;
}
.form-wizard .wizard-password-eye {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
@keyframes click-radio-wave {
  0% {
    width: 25px;
    height: 25px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    width: 60px;
    height: 60px;
    margin-left: -15px;
    margin-top: -15px;
    opacity: 0.0;
  }
}
@media screen and (max-width: 767px) {
  .wizard-content-left {
    height: auto;
  }
}



.img-wrapper {
    position: relative;
    margin-top: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 0 2px 2px #e9e9e9;
    padding: 5px;
    position: relative;
    z-index: 9999;
    border:2px solid;
    border-color: transparent;
}
.img-wrapper img {
  width: 100%;
}

.img-overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 83%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.img-overlay i {
  color: #fff;
  font-size: 35px;
}
.img-wrapper.active {
    border: 2px solid #129984;
}
#overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#overlay img {
  margin: 0;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 5%;
}


#nextButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
}
#nextButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #nextButton {
    font-size: 3em;
  }
}

#prevButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
}
#prevButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #prevButton {
    font-size: 3em;
  }
}

#exitButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  position: absolute;
  top: 15px;
  right: 15px;
}
#exitButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #exitButton {
    font-size: 3em;
  }
}
#image-gallery{
  max-height: 334px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.breadcrumbs {
    background-color: #fff;
    padding: 11px 10px;
    position: sticky;
}
.breadcrumbs h6 {
    color: #000 !important;
    line-height: 1.6;
    font-size: 17px;
}
div#container,div#container1,div#container2 {
    box-shadow: 0 0.3rem 0.8rem rgb(0 0 0 / 12%);
    border-radius: 10px;
}
.menu-thumbnail {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
}
.menu-thumbnail li {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #fff;
    padding: 4px;
    box-shadow: 0 0.3rem 0.8rem rgb(0 0 0 / 12%);
    border-radius: 6px;
    transition: all 0.3s ease-in-out;  
}
.menulist .card-header:hover img{
   transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.menulist .card-header img{
  transition: all 0.3s ease-in-out;
}
.menu-img{
   overflow: hidden;
   transition: all 0.3s ease-in-out; 
}
.menu-img img{
  transition: all 0.3s ease-in-out; 
}
.menu-thumbnail li:hover img{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;

}
.menu-thumbnail li:nth-child(5n){
  margin-right: 0;
}
.menu-thumbnail li span {
    font-weight: 600;
    color: #333;
    display: block;
}
.navbar-nav .nav-link {
    color: #fff !important;
    font-size: 16px !important;
    padding: 14px 18px 14px 18px !important;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
}
.navbar-nav .nav-link:hover{
    background-color:rgb(255 255 255 / 41%);
    color: #000 !important;
    border-radius: 10px 10px 0 0;

}
.navbar-nav li.active a {
    background-color: #fff;
    color: #000 !important;
    border-radius: 10px 10px 0 0;
}
.user-box{
  height: auto;
}
.user-box > a{
  padding:0 !important;
}
.navbar-nav li{
  margin-right: 3px;
}
.menu-thumbnail .menu-img img{
      height: 150px;
      object-fit: cover;
      width: 100%;
}
table th {
    border-bottom: 1px solid #ebeaea !important;
    background: #eaedf5 !important;
}
.submenu-list li.active a{
    background: #48d8b336;
    padding: 8px;
    border-radius: 5px;
    color: #000;
    margin-right: 10px;
}
.submenu-list li a:hover{
  background: #48d8b336;
  color: #000;
}
.submenu-list li{
   margin-right: 4px;
}
.submenu-list li a{
  padding: 8px;
  border-radius: 5px;
  margin-right: 10px;
  color: #7E8299;
  font-weight: 600;
 
}
.form-select {
    font-size: 17px;
    background-color: #fdfbfb;
    box-shadow: 0 0 2px 1px #d5d5d5;
    height: 43px;
    border: none;
    padding: 9px 16px;
}
.checkbox-div {
    background:rgb(54 190 173 / 33%);
    width: 100%;
    padding: 2px 7px;
    z-index: 9;
    top: 0;
    position: relative;
}

.upload__inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload__btn {
    border: 2px dashed #ccc;
    background-color: white;
    cursor: pointer;
    height: 100px;
    width: 150px;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 10px;
}
label.upload__btn.brand-font-upload {
    min-width: 150px;
    height: 50px;
}
.upload__btn.brand-font-upload:hover img {
    width: 20px;
}
.profonts_box .upload__btn{
  min-width: 150px;
  height: 50px;
}
.upload__btn.upload-brand-color{
  width: 65px;
  height: 65px;
}
.upload__btn:hover {
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}
.brand-font-upload_box .upload__img-wrap .upload__img-box{
  margin-right: 0;
}
.upload__btn.upload-brand-color:hover img {
    width: 22px;
}
.upload__btn:hover img{
  width: 33px;
}
.profonts_box .upload__btn:hover img{
  width: 20px;
}
.upload__btn-box {
  margin-bottom: 10px;
}
.upload__box{
display: flex;
}
.upload__img-wrap {
    display: flex;
    flex-wrap: wrap; 
}
.img-bg {
    padding: 0 !important;
    height: 100% !important;
}
.upload__img-wrap .upload__img-box{
  margin-right:10px;
  border: 2px dashed #ccc;
  height: 100px;
  width: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.upload-brand-color .upload__img-box{
  margin-right:10px;
  border: 2px dashed #ccc;
  height: 65px;
  width: 65px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.upload__img-wrap .upload__img-box img{
  height: 100%;
}

.upload__img-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  cursor: pointer;
}
.upload__img-close:after {
  content: "✖";
  font-size: 14px;
  color: white;
}

.img-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 100%;
}
.profonts_box .upload__img-box{
 min-width: 150px;
  height: 50px;
}
.brand-banner {
    background: url(../images/MyBranding_Background.png);
    padding: 0 15px;
    border-radius: 10px;
    height: 150px;
    background-position: right;
    margin-bottom: 40px;
}
.card>hr {
    color: #959393;
}


.owl-carousel .owl-item img {
    width: 135px;
    height: 135px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
}
.owl-carousel p{
  color: #333;
}
.owl-prev{
  width: 50px;
  height: 50px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 15%);
  border-radius: 50%;
  font-size: 22px !important;
  background:rgb(255 255 255 / 59%) !important;
  position: absolute;
  left: -17px;
}
.owl-next{
  width: 50px;
  height: 50px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 15%);
  border-radius: 50%;
  font-size: 22px !important;
  float: right;
  background:rgb(255 255 255 / 59%) !important;
  position: absolute;
  right:-17px;
}
.owl-nav{
  width: 100%;
  position: absolute;
  top: 21%;
}
.list-print-options li a{
  cursor: pointer;
  text-align: center;
  border: 2px solid #ddd;
  margin: 3px 0px;
  padding: 10px 5px;
  color: #777;
  display: block;
  margin-bottom: 8px;
}
.list-print-options li:hover a{
  border:2px solid #e42436;
}
.custom-padding-left{
  padding-left: 70px;
}
table.table-print th {
    border-bottom: 1px solid #ebeaea !important;
    padding: 20px !important;
    text-align: center;
    background-color: transparent !important;
}
.table-bordered.table-print {
    border: 2px solid #ddd;
}
.table-bordered.table-print>:not(caption)>*>* ,.table-bordered.table-print>:not(caption)>*{
    border-width: 0;
}
.table-bordered.table-print th {
    border-bottom-width: 2px !important;
    border-color: #ddd;
}
table.table-print td {
    text-align: center;
    padding: 20px !important;
    font-size: 15px;
    font-weight: 500;
}
table.table-print tr:nth-child(even) {
    background-color: #f9f9f9;
}
.custom-padding-top{
  padding-top: 34px;
}
.border-box{
  border: 1px dashed #c7c3c3;
  padding: 21px;
  position: relative;
  margin: 33px 0 15px;
  border-radius: 4px;
}
.border-box .title{
  position: absolute;
  top: -12px;
  left: 14px;
  background: #fff;
  padding: 0 7px;
}
.accordion-button.collapsed {
    background: #e2fffa;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 6px !important;
}
.accordion-button:not(.collapsed) {
    color: #129984;
    background-color: #f1f0f0;
}
.accordion-button:focus {
    box-shadow: none;
}
.tox .tox-notification,.tox-statusbar__branding,
.tox .tox-menubar{
  display: none !important;
}
.location-box,.content-box,.location-box.hide{
  display: none !important;
}
.location-box.show,.content-box.show{
  display: block !important;
}
.tox .tox-edit-area__iframe {
    background-color: #f1f1f1 !important;
    }
.add .minus{
  display: none;
}
.new .minus{
  display: inline;
}
.new .plus{
  display: none;
}
.box-shadow {
    box-shadow: 0 0 3px 2px #dfdfdf;
    padding: 15px 15px;
    margin-bottom: 30px;
  }

.button-switch {
    margin-bottom: 0;
    position: relative;
    height: 24px;
    width: 80px;
}
.button-switch .lbl-off, .button-switch .lbl-on {
    cursor: pointer;
    display: block;
    font-size: 10.5px;
    font-weight: 500;
    line-height: 1em;
    position: absolute;
    transition: opacity 0.25s ease-out 0.1s;
    text-transform: uppercase;
    top: 5px;
}
.button-switch .lbl-off {
    left: 22px;
    color: #fff;
}
.button-switch .lbl-on {
  color: #fefefe;
  opacity: 0;
  left: 0.4375em;
}
.button-switch .switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 0;
  font-size: 1em;
  left: 0;
  line-height: 0;
  outline: none;
  position: absolute;
  top: 0;
  width: 0;
}
.button-switch .switch:before, .button-switch .switch:after {
  content: "";
  font-size: 1em;
  position: absolute;
}
.button-switch .switch:before {
    border-radius: 1.25em;
    background: #06a994;
    height: 25px;
    left: -0.25em;
    top: -0.1875em;
    transition: background-color 0.25s ease-out 0.1s;
    width: 75px;
    overflow: hidden;
}
.button-switch .switch:after {
    box-shadow: 0 0.0625em 0.375em 0 #666;
    border-radius: 50%;
    background: #fefefe;
    height: 16px;
    transform: translate(0, 0);
    transition: transform 0.25s ease-out 0.1s;
    width: 16px;
    top: 1px;
}
.button-switch .switch:checked:after {
  transform: translate(3.2em, 0);
}
.button-switch .switch:checked ~ .lbl-off {
  opacity: 0;
}
.button-switch .switch:checked ~ .lbl-on {
  opacity: 1;
}
.button-switch .switch:checked:before {
  background: #e67e22;
}
.button-switch .switch#switch-blue:checked:before {
  background: #3498db;
}
.menulist .card-header {
    height: 200px;
    overflow: hidden;
}
.menulist .card-body {
    padding: 10px 12px;
}
.menulist .card-header img{
  object-fit: cover;
}
.owl-prev:hover i,.owl-next:hover i{
  color: #e42436;
}
.owl-item:hover {
    cursor: pointer;
    opacity: .8;
}
.owl-item:hover p{
  color: #e42436;
}
.list-print-options li.active a{
  border: 2px solid #e42436;
  color: #565656;
  background: rgba(249,97,92,0.1);
}
.item-description{
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 18px;
}
.input-group-addon {
    border: 0;
    box-shadow: 0 0 2px 1px #d5d5d5;
    width: 40px;
    border-radius: 0.25rem;
    text-align: center;
    padding-top: 9px;
}
.input-group-addon i {
    font-size: 15px;
    text-align: center;
    color: #129984;
}
.filterbox {
    max-width: 200px;
    float: right;
}
.filterbox .form-select {
    font-size: 15px;
    height: 35px;
    padding: 3px 7px;
    width: 97px;
}
.form-select:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow:0 0 2px 1px #d5d5d5;
}
.content {
    padding: 15px;
}
.verification .form-control {
    padding: 7px 13px;
    font-size: 16px;
    width: 13%;
    text-align: center;
    margin: 0 !important;
}
.home-btn {
    position: absolute;
    right: 13px;
    top: 13px;
}
.gray-box{
  background: #fdfbfb;
  padding: 15px;
  box-shadow: 0 0 1px 1px #d5d5d5;
  border-radius: 5px;
}
.add-menu-content #image-gallery{
  max-height: 681px;
}
.add-menu-content .img-overlay{
  height: 86%;
}
.select2-container .select2-search--inline .select2-search__field {
    font-size: 16px;
    margin-top: 0;
}
.select2-container--bootstrap4 .select2-selection {
    background-color: #fdfbfb;
    height: auto;
    padding: 0 6px;
    margin-bottom: 16px;
    border: 0;
    box-shadow: 0 0 1px 1px #d5d5d5;
    
}
.select2-container--bootstrap4 .select2-selection--multiple::after {
    position: absolute;
    right: 11px;
    top: 33%;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    content: "\f078";
    font-size: 14px;
}
.select2-container .select2-search--inline{
  display: none;
}
.form-wizard .select2-container .select2-search--inline {
    display: block;
}
.add-location,.add-category{
  display: none;
}
.add-location.show,.add-category.show{
  display: block;
}
.heading-div {
    background: #efebeb;
    padding: 10px 10px;
}
.filter .form-control {
    font-size: 16px;
    padding: 6px 10px;
    height: auto;
    width: 240px;
}
.filter .form-select {
    font-size: 14px;
    padding: 5px 10px;
    height: auto;
    width: 160px;
    height: 37px;
    font-size: 17px;
}
.coupon-list{
  display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(5, 1fr);
}
.coupon-list li {
    background-color: #fff;
    display: block;
    text-align: center;
}
.coupon-list li a{
  box-shadow: 0 0 2px 2px #e7e7e7;
  display: block;
  padding: 12px 13px;
   border-radius: 7px;
   border:2px solid transparent;
}
.coupon-list li a:hover {
    box-shadow: 0 0 2px 2px #e7e7e7;
    transform: scale(1.04);
    border:2px solid #129984;
}
.coupon-list li:nth-child(7){
  margin-right: 0;
}
.coupon-list li a.active{
  border:2px solid #129984;
}
.table tr:last-child td{
  border-bottom-width:0;
}
.coming-soon-div{
  min-height: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating i{
  color: orange;
}
.review-list li {
    border: 1px solid #ddd;
    padding: 14px 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}
.reply-box{
  display: none;

}
.reply-box.show{
  display: block;
  position: relative;
}
.comment-btn {
    position: absolute;
    right: 14px;
    top: 14px;
}
.filter #datepicker .form-control,.filter #datepicker1 .form-control {
    padding: 4px 6px;
    width: 121px !important;
    background: #fff;
}
.filter  .input-group-addon {
    padding-top: 4px;
}
.btn-submenu{
  display: none;
}
.logo-mobile{
  display: none;
}
.card-fixed-height{
  height: 770px;
  overflow-y: scroll;
}
table td{
  white-space: normal;
}
.nav-tabs {
    border-bottom: 1px solid #c7c7c7;
}
.mycustomer-tab .nav-link {
    color: #6e6e6e !important;
    font-size: 17px !important;
    padding: 8px 20px !important;
    font-weight: 500;
    background: #eaedf5;
    margin-right: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: #c7c7c7;
}
.mycustomer-tab.nav-tabs .nav-item.show .nav-link,.mycustomer-tab.nav-tabs .nav-link.active ,
.nav-tabs .nav-link:hover{
    color: #fff !important;
    background-color: #1cc6ab;
    border-color: #1cc6ab;
}
.media-box-border{
    border: 1px solid #d7d7d7;
    border-radius: 20px;
    padding:30px 40px;
    box-shadow:0 0 5px 3px #ebebeb;
    height: 100%;
    min-height: 209px;
}
.media-box-border:hover {
    border:1px solid #07c3b0;
    cursor: pointer;
}
.suggestion-box{
    background: #e52f43;
    border-radius: 33px;
    font-size: 14px;
    color: #ffff;
    padding: 2px;
    max-width: 171px;
    text-align: center;
    width: 100%;
}
.campaign-img {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px 2px #ddd;
}
.campaign-box{
  transition: all 0.2s ease-in-out;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
}
.campaign-box:hover{
  transition: all 0.2s ease-in-out;
  transform: scale(1.03);
}
.btn-start,.btn-start1{
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
  opacity: 0;
}
.campaign-box:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(255 255 255 / 57%);
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 17px;
}
.campaign-box h6{
  padding: 0 10px;
}
.campaign-box:hover:before{
  opacity: 1;
}
.campaign-box:hover .btn-start,.campaign-box:hover .btn-start1{
  opacity: 1;
}
.campaign-img img{
      height: 250px;
    object-fit: cover;
    width: 100%;
}
.campaign-box.selected .campaign-img {
    border: 1px solid #129984;
}
.list-options{
  display: none !important;
}
#campaign-options1{
  display: none;
}
#campaign-options1.active{
  display: block !important;
}
#campaign-options.active .list-options{
  display: flex !important;
  margin-top: 30px;
}
#campaign-options1.active .list-options{
  display: flex !important;
  margin-top: 30px;
}
.list-options li a {
    color: #e52f43;
    border: 1px solid #e52f43;
    padding: 9px 20px;
    margin-right: 14px;
    border-radius: 11px;
    display: block;
}
.list-options li span{
  display: none;
}
.list-options li.selected a{
  color: #fff;
  background-color: #e52f43;
}
.list-options li.selected span{
  display: inline-block;
}
.list-options li a:hover{
  color: #fff;
  background-color: #e52f43;
}
.free-item-div,.cash-item-div,.percentage-item-div,.campaign-table{
  display: none;
}
.free-item-div.show,.cash-item-div.show,.percentage-item-div.show,.campaign-table.show{
  display: block;
}
.red-small-badge {
    background: #ff5f71;
    color: #fff !important;
    border-radius: 6px;
    font-size: 11px;
    margin-left: 6px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 1.9;
}
.black-text a{
  color: #333 !important;
}
.black-text a.btn-add-items {
    background: #ff5f71 !important;
    color: #fff !important;
    padding: 1px 6px;
    margin-left: 10px;
}
.sweet-alert button.cancel{
    background-color: #646262;
}
.sweet-alert button.cancel:hover{
    background-color: #7a7a7a;
}
.sweet-alert .confirm{
  background-color: #06a994 !important;
}
.breadcrumbs .d-flex{
  align-items: center;
}
.card-gray{
      background: #dbdbdb;
    border-radius: 10px;
}
.qr-code-detail,.image-box{
  display: none;
}
.qr-code-detail.show,.image-box.show{
  display: block;
}
.card-green {
    background: #b3fff3;
    border: 1px solid #a0ede1;
}
.card-orange{
      background: #ffdada;
      border: 1px solid #f3caca;
}
.card-yellow{
  background-color: #c0e3ff;
      border: 1px solid #a3cef1;
}
.card-purple{
      background: #ced9ef;
      border: 1px solid #bccced;
}
.card-blue .widgets-icons{
  background-color: rgb(176 173 249)!important;
  color: #67659f!important;
}
.order-detail-row span{
  font-size: 23px;
  font-weight: 700;
}
.order-detail-row .card{
  box-shadow: none;
}
.filter .btn-sm {
    padding: 6px 10px;
    font-size: 15px;
}
.list-loyalty{
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.list-loyalty li.selected .media-box{
  background: #dbfffb;
  box-shadow: 0 0 5px 3px #ffffff;
}
.loyalty-detail-row .card {
    box-shadow: none;
    height: 100%;
    margin: 0;
}
.reward-div{
  display: none;
}
.auto-campaign-option2{
  display: none;
}
.button-options {
    position: absolute;
    top: 11px;
    right: 11px;
}
.gray-box{
  position: relative;
}
.free-items-edit,.promotion-table{
  display: none;
}
.free-items-edit.show{
  display: block;
}
.campaign-options.active .promotion-table{
  display: block;
}
.campaign-options1.active .promotion-table{
  display: block;
}
/*=======================media query===================*/
@media(max-width: 1600px){
 .list-loyalty{
   grid-template-columns: repeat(2, 1fr);
 }
}
@media(max-width: 1199px){
  .list-loyalty{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media(max-width: 1024px){
  .logo-mobile{
    display: block;
  }
  .page-footer {
      width: 100%;
      left: 0;
  }
  .mobile-toggle-menu {
      margin-left: auto;      
  }
  .topbar .navbar {
      padding-left: 10px;
      padding-right: 10px;
  }
  .user-box {
      margin-left: 15px !important;
  }
  .menubar-icon{
    display: none;
  }
  .topbar {
      padding: 0 15px;
  }
}
@media(max-width: 991px){
  .topbar-custom ul li a {
      color: #fff;
  }
  .profile-nav button br{
    display: none;
  }
  .left-side, .right-side,.signup .right-side {
    display: block;
    width: 100%;
    padding:50px;
    height: auto;
  }
  .logo{
    width: 130px;
  }
  .wrapper.toggled .menubar-icon{
    display: none;
  }
  .card.basic ul, .card.standard ul, .card.premium ul {
      width: 58%;
  }
  .topbar .navbar {
      padding:0px;
  }
  .navbar-collapse {
      background-color: #06cbbd;
      padding: 0;
      position: absolute;
      top: 55px;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 9;
  }
  .navbar-collapse ul{
    padding: 20px 20px 0;
  }
  .navbar-collapse ul li {
      display: block;
      margin-bottom: 14px;
  }
  .card-right {
      padding: 80px 34px;
  }
  .user-info {
    display: none;
  }
  .user-info-box{
    padding: 0; 
    padding-left: 6px;
  }

}
@media(max-width: 767px){
  .page-content {
      padding: 1rem;
  }
  .media-box-border{
    flex-wrap: wrap;
  }
  .menu-thumbnail {
      grid-template-columns: repeat(2, 1fr);
  }
  .card-right,.card-left{
    display: block;
    width: 100%;
  }
  div.dataTables_wrapper div.dataTables_length label{
    margin-bottom: 10px;
  }
  div.dataTables_wrapper div.dataTables_length,
  div.dataTables_wrapper div.dataTables_filter{
    text-align: right;
  }
  .form-control {
      padding: 10px 16px;
      height: auto;
      font-size: 17px;
  }
  .form-wizard .form-wizard-steps li span {
      height: 35px;
      line-height: 35px;
      width: 35px;
      font-size: 18px;
  }
  #image-gallery {
      max-height: 100%;
  }
  .logo-icon {
      margin-bottom: 0 !important;
  }
  .navbar {
      padding: 8px 0;
  }
  .user-box {
      height: auto;
      margin-left: 10px !important;
      margin-bottom: 0 !important;
  }
  .navbar-light .navbar-toggler {
      color: #fff;
      border: 0;
      padding: 0;
      margin-left: auto;
      margin-top: 5px;
      box-shadow: none !important;
  }
  .navbar-toggler-icon {
      width: 24px;
      height: 3px;
      background: #fff;
      margin-bottom: 6px;
      background-image: none !important;
  }
  .nav-link {
      color: #fff !important;
      font-size: 15px !important;
      padding: 6px 10px !important;
      border-radius:0;
  }
  .navbar-collapse ul {
      padding: 0 24px;
      margin: 0 !important;
  }
  .navbar-nav li.active a {
      border-radius: 3px;
  }
  .navbar-collapse ul li {
      margin-bottom: 5px;
  }
  .breadcrumbs {
      padding: 15px 7px;
  }
  .menu-thumbnail li {
      margin-right: 0;
      width: 100%;
  }
  .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered {
      padding: 6px 9px;
  }
  .upload__btn {
      height: 100px;
  }
  .img-wrapper{
    text-align: center;
  }
  .img-wrapper {
      padding: 10px;
      position: relative;
      z-index: 9999;
      border: 2px solid;
      border-color: transparent;
      margin: 10px;
  }

  .img-wrapper img {
      width: 185px;
      margin: 0 auto;
  }
  .btn-sm {
      padding: 5px 14px;
      font-size: 15px;
  }
  .page-content .card .media-left {
    margin-bottom: 11px;
  }
  .brand-banner {
      padding: 20px;
      height: auto;
  }
  .custom-padding-left {
      padding-left: 15px;
  }
  table.table-print td {
      padding: 15px 4px !important;
  }
  .filter {
    display: block !important;
  }
  .datepicker-div{
    margin-top: 20px;
  }
  .submenu-list{
    width: 216px;
    position: fixed;
    left: -216px;
    transition: all 0.2s ease-in-out;
    height: 100%;
    display: block !important;
    z-index: 99;
    top: 115px;
  }
  .btn-submenu {
    background-color: #fbfbfb;
    font-size: 20px;
    padding: 3px 9px;
    color: #e42436;
    box-shadow: 0 0 2px 2px #ddd;
    display: inline-block;
  }
  .submenu-list.show {
      transition: all 0.2s ease-in-out;
      display: block !important;
      left: 0;
      background: #fff;
      top: 115px;
      padding: 19px;
      width: 216px;
      box-shadow: 0 5px 7px 2px #ddd;
  }
  .submenu-list li a {
      margin-right: 0px;
      width: 100%;
      display: block;
  }
  .submenu-list li {
      margin-right: 0;
      margin-bottom: 1px;
  }
  .filter .form-select{
    margin-top: 10px;
  }
  h1 {
      font-size: 30px;
  }
  .main .card.card-form-wizard{
    padding-top: 70px;
  }
}
@media(max-width: 500px){
  .menu-thumbnail {
      grid-template-columns:auto;
  }
}
@media (min-width: 576px)
{
  .modal-dialog {
    max-width: 600px;
}

}
